.active {
  background-color: black;
  color: white !important;
  font-weight: bold;
}

button.active:hover,
.Sidebar.MenuButton.active:hover {
  background-color: black !important;
  color: white !important;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
}

.bg-sidebar {
  background-color: white !important;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
  width: 6px;
}
html::-webkit-scrollbar {
  display: none;
}

.right-side-parent:has(.active-blue){
  background-color: #0079ff14 !important;
}
.active-blue{
  background-color: #0079ff00 !important;
}